[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "<2"
flask = "*"
psycopg2-binary = "*"
redis = "*"
pytest = "*"
pytest-icdiff = "*"
mypy = "*"
pylint = "*"
requests = "*"
tenacity = "*"

[dev-packages]

[requires]
python_version = "3.11"
